target
nb-configuration.xml
actions.xml
src/main/resources/templates/assets/css
src/main/resources/templates/assets/js
src/main/resources/templates/assets/vendor
src/main/resources/templates/node_modules