Implementacion/nbactions.xml
/Implementacion/src/main/resources/templates/assets/css/
/Implementacion/src/main/resources/templates/assets/js/
/Implementacion/src/main/resources/templates/assets/vendor/